<li>
  <figure class="grid__figure">
    <%= image_tag hlpr_photo_url(photo), class: 'photo-img', alt: 'photo-img' %>
    <figcaption><%= photo.title %></figcaption>
    <figcaption class="mb-10 h3" style="color: var(--color-primary);"><%= photo.description %></figcaption>
  </figure>
</li>